// Base Colors
$black: rgba(0, 0, 0, 1);
$black-900: rgba(44, 44, 44, 1);
$black-800: rgba(66, 66, 66, 1);
$black-700: rgba(77, 77, 77, 1);
$black-500: rgba(102, 102, 102, 1);

$white-400: rgb(153, 153, 153);
$white-300: rgb(179, 179, 179);
$white-200: rgb(204, 204, 204);
$white-100: rgb(218, 218, 218);
$white: rgba(255, 255, 255, 1);

$yellow: rgba(243, 156, 18, 1);
$yellow-dark: rgba(212, 137, 18, 1);

$purple: rgba(155, 89, 182, 1);
$purple-dark: rgba(129, 74, 152, 1);

$green: rgba(46, 204, 113, 1);
$green-dark: rgba(40, 178, 99, 1);

$red: rgba(211, 84, 0, 1);
$red-dark: rgba(172, 69, 0, 1);

$blue: rgba(52, 152, 219, 1);
$blue-dark: rgba(45, 132, 190, 1);

$teal: rgba(26, 188, 156, 1);
$teal-dark: rgba(22, 160, 133, 1);

$orange: rgba(230, 126, 34, 1);
$orange-dark: rgba(211, 84, 0, 1);

$highlight-yellow: rgba(241, 196, 15, 1);
$highlight-yellow-dark: rgba(243, 156, 18, 1);

$fake: $red;
$real: $green;
$sus: $orange;

// App colors
$primary-color: $teal;
$background-rgb: $white;
$foreground-rgb: $black;
$background-start-rgb: $white;
$background-end-rgb: $white-300;

// Ontology Colors
$where: $yellow;
$where-hover: $yellow-dark;
$why: $green;
$why-hover: $green-dark;
$what-temporal: $purple;
$what-temporal-hover: $purple-dark;
$what-spatial: $blue;
$what-spatial-hover: $blue-dark;
$what-file: $red;
$what-file-hover: $red-dark;

// Component colors
$border-color: $black-500;
$highlight: $highlight-yellow;

:root {
    --background-rgb: $background-rgb;
    --foreground-rgb: $foreground-rgb;
    --background-start-rgb: $background-start-rgb;
    --background-end-rgb: $background-end-rgb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: $white;
        --background-rgb: $black;
        --background-start-rgb: $black;
        --background-end-rgb: $black-700;
    }
}